.rayure{


    background: repeating-linear-gradient(
      45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px
        );
    }


    .premiereLettre::first-letter{
        color:red;
    }
    .premiereLigne::first-line{
        color:orange;
    }
    
    .ImageOmbrePortee{
        background-color:grey;
    }

    

    .header{
        display: inline;
        
    }
    h5.header{
        color:grey;
    }